@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    @L["Error.Unexpected"]
    <a href="" class="reload">@L["Error.Reload"]</a>
    <a class="dismiss">X</a>
</div>
